# backup files
*~

# developer convenience
*.diff
# if you want to check a diff file in, call it *.patch
*_devX*
*.log

# hide the automated setup from git; the setup brings in external
# files which we do not want committed
*_autoX*
