# backup files
*~

# developer convenience
*.diff
# if you want to check a diff file in, call it *.patch
*_devX*
*.log

# hide files and directories created by auto_update.py; these are
# created at runtime and are not to be committed to git
*_autoX*
